
@model Task<IEnumerable<ResultOrderDetailDto>>
@{
    decimal subTotal = 0;
}
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                      @foreach (var item in await Model)
                        {
                            subTotal = subTotal + item.TotalPrice;
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/master/img/product/@item.ProductUrl" alt="" style="width:75px;height:75px;">
                                        </div>
                                        <div class="media-body">
                                            <p>@item.ProductName</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>@item.ProductPrice</h5>
                                </td>
                                <td>
                                   <h5>@item.Quantity</h5>
                                </td>
                                <td>
                                    <h5>@item.TotalPrice</h5>
                                </td>
                            </tr>
                        }
                    
                     
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Genel Toplam</h5>
                            </td>
                            <td>
                                <h5>@subTotal</h5>
                            </td>
                        </tr>
                        
                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="/Shop/Index/">Alışverişe Devam</a>
                                    <a class="primary-btn" href="/Checkout/Index/">Ödeme Yap</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
